body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  box-sizing: border-box;
}

.body-height-auto {
  height: auto;
}

.container {
  width: auto;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.recipe-container {
  margin: 20px;
  text-align: center;

}

.recipe-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-instructions {
  margin-top: 10px;
}

.recipe-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.btn-hidden {
  display: none;
}

.container-width-100 {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-back {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #68aa6d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
  margin-bottom: 5px;
}